/*
Colors used

--ultimategray-color: #999a9c;
--illuminating-color: #f4e35c;
--blue-color: #120db7;
--huntergreen-color: #355e3b;
--black-color: #000;
--white-color: #fff;
*/

/* Body styles */

:root {
  --ultimategray-color: #999a9c;
  --illuminating-color: #f4e35c;
  --blue-color: #120db7;
  --huntergreen-color: #355e3b;
  --black-color: #000;
  --white-color: #fff;
  --header-font-weight: 700;
}

body {
  background-color: var(--ultimategray-color);
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* Sets the font size to 16px */
  line-height: 1.6;

  /* Sets the line-height to 1.6 */
}

/* Header styles */
h1 {
  font-size: 30px;
  font-weight: var(--header-font-weight);
}

h2 {
  font-size: 24px;
  font-weight: var(--header-font-weight);
}

h3 {
  font-size: 18px;
  font-weight: var(--header-font-weight);
}

.page-title {
  padding: 10px 10px 10px 10px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* Anchor tags */

/* unvisited links */
a {
  color: var(--huntergreen-color);
}

/* visited link */
a:visited {
  color: var(--black-color);
}

/* No underlining when hovering over a link */
a:hover,
a:focus {
  text-decoration: none;
}

/* selected link */
a:active {
  color: var(--blue-color);
}

/* li's */
.navigation-list__item--active {
  text-decoration: none;
}

.navigation-list,
.page-body__item li {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

/*ul's*/

ul {
  list-style: none;
  padding-left: 0px;
}

.ul-secondary {
  text-align: center;
  padding-left: 0px;
}


/* buttons */

.button-class {
  background-color: var(--blue-color);
  border: none;
  color: var(--white-color);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /*Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: var(--white-color);
  color: var(--black-color); /*text*/
  border: 2px solid var(--blue-color);
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

/* modals*/
#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: var(--white-color);
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: center;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: var(--ultimategray-color);
  text-decoration: underline;
}

.modal h1 {
  text-align: center;
}

.modal p {
  margin-bottom: 0;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  /* CSS for modal container - add your own desired CSS styles here */
  display: block;
}

/* Page header */
.page-header {
  display: flex;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

/* Page body */
.page-body {
  margin: 0 10px;
  padding: 0 10px;
  min-height: 75%;
  justify-content: center;
  text-align: center;
}

.page-body__item {
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

/* Page footer */
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}
